<%= form_for(@calf) do |f| %>
  <% if @calf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calf.errors.count, "error") %> prohibited this calf from being saved:</h2>

      <ul>
      <% @calf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lotNum, 'Lot Number' %><br />
    <%= f.text_field :lotNum %>
  </div>
  <div class="field">
    <%= f.label :contHyp, 'Control or Hypoxic' %><br />
    <%= f.text_field :contHyp %>
  </div>
  <div class="field">
    <%= f.label :hypDays, 'Days of Hypoxia' %><br/>
    <%= f.text_field :hypDays %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :sacrificeDate, 'Sacrifice Date' %><br />
    <%= f.date_select :sacrificeDate %>
  </div>
  <div class="field">
    <%= f.label :pasys, 'PA Systolic (mmHg)' %><br />
    <%= f.text_field :pasys %>
  </div>
  <div class="field">
    <%= f.label :padias, 'PA Diastolic (mmHg)' %><br />
    <%= f.text_field :padias %>
  </div>
  <div class="field">
    <%= f.label :pamean, 'PA Mean (mmHg)' %><br />
    <%= f.text_field :pamean %>
  </div>
  <div class="field">
    <%= f.label :aosys, 'AO Syltolic (mmHg)' %><br />
    <%= f.text_field :aosys %>
  </div>
  <div class="field">
    <%= f.label :aodias, 'AO Diastolic (mmHg)' %><br />
    <%= f.text_field :aodias %>
  </div>
  <div class="field">
    <%= f.label :aomean, 'AO Mean (mmHg)' %><br />
    <%= f.text_field :aomean %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
