<%= form_for(@calf) do |f| %>
  <% if @calf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calf.errors.count, "error") %> prohibited this calf from being saved:</h2>

      <ul>
      <% @calf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lotNum, 'Lot Number' %><br />
    <%= f.text_field :lotNum %>
  </div>
  <div class="field">
    <b>Select Atmospheric Conditions</b><br />
    <%= f.select( :contHyp, ['Control', 'Hypoxic'], {:include_blank => true} ) %><br />
  </div>
  <div class="field">
    <%= f.label :hypDays, 'Days of Hypoxia' %><br/>
    <%= f.text_field :hypDays %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <b>Select Gender</b><br />
    <%= f.select( :gender, ['Male', 'Female'] ) %><br />
  </div>
  <div class="field">
    <%= f.label :sacrificeDate, 'Sacrifice Date' %><br />
    <%= f.date_select :sacrificeDate %>
  </div>
  <div class="field">
    <%= f.label :base_HR, 'Atmospheric Heart Rate (bpm)' %><br />
    <%= f.text_field :base_HR %>
  </div>
  <div class="field">
    <%= f.label :base_cardiacOutput, 'Atmospheric Cardiac Outupt (L/min)' %><br />
    <%= f.text_field :base_cardiacOutput %>
  </div>
  <div class="field">
    <%= f.label :base_cardiacIndex, 'Atmospheric Cardiac Index' %><br />
    <%= f.text_field :base_cardiacIndex %>
  </div>
  <div class="field">
    <%= f.label :base_mean_pap, 'Atmospheric Mean PAP (mmHg)' %><br />
    <%= f.text_field :base_mean_pap %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
