<h1>Calf List</h1>

<table>
  <tr class="yellow">
    <th>Lot Number</th>
    <th>Cont or Hyp</th>
    <th>Hyp Days</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Sac Date</th>
    <th>Notes</th>
    <th colspan="3"></th>
    <th></th>
  </tr>

<% @calves.each do |calf| %>
  <tr>
    <td><%= calf.lotNum %></td>
    <td><%= calf.contHyp %></td>
    <td><%= calf.hypDays %></td>
    <td><%= calf.age %></td>
    <td><%= calf.gender %></td>
    <td><%= calf.sacrificeDate %></td>
    <td><%= calf.notes %></td>
    <td><%= link_to 'Show', calf %></td>
    <td><%= link_to 'Edit', edit_calf_path(calf) %></td>
    <td><%= link_to 'Destroy', calf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Calf', new_calf_path %>
