<p id="notice"><%= notice %></p>

<p>
  <b>Lotnum:</b>
  <%= @calf.lotNum %>
</p>

<p>
  <b>Conthyp:</b>
  <%= @calf.contHyp %>
</p>

<p>
  <b>Age:</b>
  <%= @calf.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @calf.gender %>
</p>

<p>
  <b>Sacrificedate:</b>
  <%= @calf.sacrificeDate %>
</p>

<p>
  <b>Pasys:</b>
  <%= @calf.pasys %>
</p>

<p>
  <b>Padias:</b>
  <%= @calf.padias %>
</p>

<p>
  <b>Pamean:</b>
  <%= @calf.pamean %>
</p>

<p>
  <b>Aosys:</b>
  <%= @calf.aosys %>
</p>

<p>
  <b>Aodias:</b>
  <%= @calf.aodias %>
</p>

<p>
  <b>Aomean:</b>
  <%= @calf.aomean %>
</p>

<p>
  <b>Notes:</b>
  <%= @calf.notes %>
</p>


<%= link_to 'Edit', edit_calf_path(@calf) %> |
<%= link_to 'Back', calves_path %>
